@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "iconFont";
  font-display: swap;
  src: url("./fonts/font-awesome/fonts/fontawesome-webfont.eot");
  src: local("O"), url("./fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("./fonts/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("./fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("");
  src: local("O"), url("") format("woff"), url("./fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("");
  src: local("O"), url("") format("woff"), url("./fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeueBold";
  font-display: swap;
  src: url("");
  src: local("O"), url("") format("woff"), url("./fonts/BebasNeue-Regular/BebasNeue-Regular.ttf") format("truetype"), url("") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  --body: rgb(255, 255, 255);
  --colorfooter: rgb(23, 24, 25);
  --colorcontact: rgb(20, 26, 32);
  --whitetxt: rgb(255, 255, 255);
  --darktxt: rgb(72, 85, 91);
  --hover: rgb(0, 164, 229);
}

.wrapper {
  background: var(--body);
  font-family: OpenSans;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.h1 {
  font-family: BebasNeueBold;
}

.h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--darktxt);
  letter-spacing: 2.31px;
}

.h4 {
  font-size: 11px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.85px;
  color: var(--body);
}

.button {
  background: rgb(0, 164, 229);
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 700;
  color: var(--body);
  width: 150px;
  height: 40px;
  letter-spacing: 0.5px;
}

.line {
  background: rgb(0, 164, 229);
  width: 53px;
  height: 2px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}
.header {
  background: url(../img/bg.svg) center/cover;
  padding: 40px 0 70px 0;
}

.header-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img {
  margin-bottom: 312px;
}

.header-h1 {
  font-size: 60px;
  font-weight: 400;
  color: var(--whitetxt);
  letter-spacing: 5.71px;
  transform: translate(7px, 1px);
  margin-bottom: 6px;
  text-align: center;
}

.headerTxt {
  margin-bottom: 224px;
  color: rgb(255, 255, 255);
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  right: 0px;
  letter-spacing: 0.33px;
  text-align: center;
}

.headerbutton {
  background: none;
  color: var(--whitetxt);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3.7px;
  position: relative;
  right: -1px;
}

/*navBar*/
.nav {
  padding: 22.5px 0 0 0px;
  border: 1px solid rgb(230, 230, 230);
}

.navflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.nav-bar {
  display: flex;
  gap: 40px;
}
.nav-bar__link {
  color: var(--darktxt);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.09px;
}
.nav-bar__link:hover {
  color: var(--hover);
  font-weight: 700;
}

.nav-button {
  display: none;
}
.nav-button__line {
  width: 10px;
  height: 2px;
  background: var(--hover);
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
  .nav-button {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .nav-button__line {
    width: 15px;
    height: 2px;
    background: var(--hover);
  }
}
/*STORY*/
.story {
  padding: 61px 0 0 0;
  margin-bottom: 119px;
}

.story-h2 {
  text-align: center;
  transform: translate(1px, 0px);
  margin-bottom: 14px;
}

.story-line {
  margin: 10px auto 56px;
}

.story-flex {
  display: flex;
  gap: 75px;
  align-items: flex-end;
}

.story-txt {
  width: 405.08px;
}
.story-txt__bould {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 26px;
  letter-spacing: 0.9px;
}
.story-txt__span {
  color: var(--hover);
}
.story-txt__p {
  font-size: 13px;
  font-weight: 400;
  color: var(--darktxt);
  letter-spacing: 0.19px;
  line-height: 23px;
}

.story-cards {
  display: flex;
  gap: 19px;
}

.story-card {
  width: 140px;
  height: 224px;
  overflow: hidden;
}
.story-card__h3 {
  width: 68px;
  color: var(--whitetxt);
  font-family: OpenSans;
  letter-spacing: 1.1px;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 1.19px;
  position: relative;
  left: 15px;
  top: 15px;
  z-index: 1;
}
.story-card__img {
  transform: translate(-250px, -66px);
}
.story-card__img1 {
  transform: translate(-59px, -58px);
}
.story-card__img2 {
  transform: translate(-101px, -61px);
}

@media (max-width: 768px) {
  .story-flex {
    display: flex;
    gap: 75px;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
  }
  .story-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
/*servis*/
.servis-upblock {
  margin-bottom: 74px;
}

.servis-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.servis-title {
  width: 198px;
  margin-right: 125px;
}
.servis-title__h2 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.76px;
  margin-bottom: 13px;
}

.servis-p {
  width: 405.4px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19px;
}

.servis-button {
  letter-spacing: 1px;
}

.servis-cards {
  display: flex;
  gap: 27px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 113px;
}

.servis-card {
  border: 1px solid rgb(230, 230, 230);
  width: 295px;
  padding: 42px 20px 35px 24px;
}
.servis-card__img {
  margin-bottom: 23px;
}
.servis-card__h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.78px;
  margin-bottom: 15px;
}
.servis-card__p {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.19px;
}

@media (max-width: 1024px) {
  .servis-flex {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .servis-title {
    width: 198px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*touch*/
.touch {
  background: url(../img/touch.png) center/cover;
  min-height: 500px;
  padding-top: 123px;
}

.touch-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.touch-h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  width: 350px;
  text-align: center;
  letter-spacing: 1.3px;
}

.button {
  letter-spacing: 0.5px;
}

/*contact*/
.contact {
  background: var(--colorcontact);
  padding: 31px 0px 30px;
}

.contact-container {
  width: 748px;
}

.contact-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.contact-h2 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.contact-flexForm {
  display: flex;
  align-items: center;
}

.form-contact__txt {
  width: 250px;
  padding: 12px 0 10px 16px;
}

@media (max-width: 1124px) {
  .contact {
    background: var(--colorcontact);
    padding: 29px 0px 30px;
  }
}
.footer {
  background: var(--colorfooter);
  padding: 42px 0 0px 0;
}

.footer-flex {
  display: grid;
  grid-template-columns: 255px 257px 119px 116px;
  gap: 10px;
  justify-content: space-between;
}

.footer-h4 {
  text-transform: uppercase;
  margin-bottom: 21px;
}

.footer-img {
  margin-bottom: 15px;
}

.footer-p {
  color: var(--body);
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.9px;
}

.footer-links__flex {
  display: grid;
  grid-template-columns: 112px 89px 75px;
  margin-top: -9px;
  padding-right: 10px;
}
.footer-a {
  text-transform: uppercase;
  color: var(--body);
  font-size: 11px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.85px;
}

.footer-addres__p {
  color: var(--body);
  margin-top: -4px;
  margin-bottom: 20px;
  line-height: 16px;
  width: 115px;
  letter-spacing: 0.85px;
}

.footer-icon {
  color: var(--body);
  display: flex;
  justify-content: space-between;
  padding: 27px 26px 0px 3px;
}
.footer-down {
  background: var(--colorcontact);
  text-align: center;
  padding: 39px 0 40px 10px;
  height: 60px;
}