.footer {
    background: var(--colorfooter);
}
.container {
}
.company {
}
.footer-img {
}
.footer-p {
}
.footer-links {

		&__item {
		}
}
.footer-addres {

		&__p {
		}
}
.icon {
}
.footer-icon {
}
.footer-down {
    background: var(--colorcontact);
    display: flex;
    justify-content: center;
    padding: 22px 0;
		&__p {
            letter-spacing: 0.85px;
		}
}
