@import "_nullstyle";
@import "_fonts";
:root {
    --body: rgb(255, 255, 255);
    --colorfooter: rgb(23, 24, 25);
    --colorcontact: rgb(20, 26, 32);
    --whitetxt: rgb(255, 255, 255);
    --darktxt: rgb(72, 85, 91);
    --hover: rgb(0, 164, 229);
}

.wrapper {
    background: var(--body);
    font-family: OpenSans;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
.h1 {
    font-family: BebasNeueBold;
}
.h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--darktxt);
    letter-spacing: 2.31px;
}
.h4 {
    font-size: 11px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0.85px;
    color: var(--body);
}
.button {
    background: rgb(0, 164, 229);
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 700;
    color: var(--body);
    width: 150px;
    height: 40px;
    letter-spacing: 0.5px;
}
.line {
    background: rgb(0, 164, 229);
    width: 53px;
    height: 2px;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
        body {
        text-align: center;
    }
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {

}
@import "_header";
@import "_main";
@import "_footer";
